.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden {
            opacity: 0;
            pointer-events: none;
    
        }

}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);

    min-height: 609px;
    width: 450px;
    max-width: 100%;
    padding: 15px;

    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;


    @include desktop {
        min-height: 581px;
        width: 528px;
    }
}


.modal-close {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    background-color: transparent;
    border-radius: 50%;

    border: 1px solid rgba(0, 0, 0, 0.1);

        &:hover .modal-icon,
        &:focus .modal-icon{
            fill: var(--accent-color);
    
        }
     
}


.modal-icon {
    fill: currentColor;
    width: 18px;
    height: 18px;

}


/* Стилизация формы модальногo окна  */

.form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 0px auto;

    & .button {
            margin: 30px auto 0px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}

.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 12px;
}


.form-label {
    display: inline-block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.form-input {
    display: inline-block;
    position: relative;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 10px;

    width: 100%;

    &:focus-within .form-icon {
            color: var(--accent-color);
        }

   
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    outline: none;

    transform: translateY(-50%);

    fill: currentColor;
}

.form-input-area {
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin: 0;
    padding: 12px 12px 12px 42px;
    width: 100%;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus-within {
            border: 1px solid var(--accent-color);
        }

}

.form-field {
    display: flex;
    flex-direction: column;

    &::placeholder {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    
        }


}


.form-textarea {
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    border-radius: 4px;

    outline: none;
    resize: none;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
        
        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.01em;
    
            color: rgba(117, 117, 117, 0.5);
        }
        &:focus-within {
                border: 1px solid var(--accent-color);
                }
}


/* Чекбокс оформление */

.checkbox {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    position: absolute;
    display: block;

}

.checkbox-icon {
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;

    .checkbox:checked~& {
            background-image: url(../images/icon-check.svg);
            background-repeat: no-repeat;
            background-color: var(--accent-color);
            background-size: contain;
            background-origin: border-box;
            justify-content: center;
            align-items: center;
            display: flex;
            border: none;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

}

.checkbox-label {
    display: flex;
    align-items: center;
    // margin-left: 10px;

        &::after {
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
    
        }
}


.checkbox-text {
    display: block;
    margin-left: 17px;
    font-size: 11.5px;
    line-height: 1.16;

    @include desktop {
        font-size: 13px
        line-height: 1.71;
    }


}

.doc {
    color: var(--accent-color);
    text-decoration-color: var(--accent-color);

}