body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section {
    text-align: center;
    padding: 60px 0;

    
    @media screen and (min-width: 1200px) {
            padding: 94px 0;
        }
}

.no-scroll{
    overflow: hidden;
}