.feauters__list {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    gap: 30px;

    

}

.feauters__item {
    display: inline-block;
    width: 100%;

    @include mobile {
         width: 100%;
        }

    @include tablet{
        width: calc((100% - 30px) / 2);
    }

     @include desktop {
            width: calc((100% - 90px) / 4);
    }
}


.feauters__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 100%;
    


}

.feauters__title {
    color: var(--title-text-color);
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    

    @include tablet {
           text-align: left;
        }

}

.feauters__text{
  
     @include tablet {
        width: 100%;
        text-align: left;

        }

     @include tablet {
            width: 100%;
        }
}