.head {
    outline: 1px solid #ECECEC;

}

.nav {
    
    @include tablet{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.head__logo{
    @include desktop{
        ont-size: 26px;
        line-height: 1.19;
        
    }
}

.nav__link {
    display: block;
    display: flex;
    align-items: center;
    padding: 32px 0;
    text-decoration: none;
    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        color: var(--accent-color);
    }
}

.nav__link--current {
    color: var(--accent-color);

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            width: 100%;
    
            background-color: var(--accent-color);
            border-radius: 2px;
            outline: none;
        }
}

.head__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 60px;
    height: 100%;
    padding: 0 15px;

    @include tablet{
        
        display: flex;
        justify-content: space-between;
    }

     @include desktop {
        align-items: center;
    
    }

}

.nav__item {
    position: relative;

        &:not(:last-child) {
            margin-right: 50px;
        }
}


/* Контакты Хэдера */
.nav__list {
    display: none;

    @include tablet {
        display: flex;
        justify-content: space-around;
        margin-left: 88px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

   

}

.nav__list_contacts{
    display: none;

    @include tablet{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px 0;
    margin-left: 84px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }

    @include desktop {
        flex-direction: row;
    }
    
}

.nav__icon {
    @include tablet{
        width: 14px;
        height: 14px;
        fill: currentColor;
        margin-right: 10px;

    }
    @include desktop {
        width: 16px;
        height: 16px;
        fill: currentColor;
        margin-right: 10px;
    
        }
}



.nav__link--connect {
    color: var(--primary-text-color);
    font-size: 12px;
    line-height: 1.16;
    padding: 0;

    @include desktop {
        font-size: 14px;
        line-height: 1.14;
        margin-left: auto;
    
    }
}




.head__btn--open,
.head__btn--close{
    position: absolute;
    padding: 0;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
}

.head__btn--open{
    &:hover .head__btn--icon,
    &:focus .head__btn--icon {
            fill: var(--accent-color);
    
        }
     @include tablet {
        display: none;
    }
}

.head__btn--close{
   display: block;
   position: fixed;
   top: 10px;
   right: 15px;
   z-index: 2;

    &:hover .head__btn--icon,
    &:focus .head__btn--icon {
        fill: var(--accent-color);

    }
}

.head__btn--icon{
    width: 40px;
    height: 40px;
    fill: currentColor;
}

.mob-menu{
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 25px;
    z-index: 1;
    
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;

    > .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow: auto;
    }

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    
    }

    @include tablet {
        display: none;
    }

}

.mob-menu__list,
.mob-connect__list{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mob-menu__list{
    margin-bottom: 32px;
}

.mob-menu__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--title-text-color);
    text-decoration: none;


    &:focus,
    &:hover {
        color: var(--accent-color);
    }
  
}
.mob-connect__list{
    margin-bottom: 64px;
}
.mob-connect__link{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    text-decoration: none;

    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}
.mob-connect__link--accent{
    color: var(--accent-color);
}

.mob_soc__list{
    display: flex;
   gap: 10px;
   
}
.mob_soc__link{
    text-decoration: none;
    color: var(--accent-color);

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
}

.mob_soc__item{
    padding-right: 10px;
    height: 22px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
   
    &:last-child {
            border-right: none;
        }
}

// .is-hidden{
//             opacity: 0;
//             pointer-events: none;
    
//         }
