.people {
    background-color: #F5F4FA;
   
}



.direction__title,
.people__title,
.client__title {
    color: var(--title-text-color);
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
}

.people__title{
    @include tablet{
        font-size: 28px;
        

    }
    @include desktop {
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.people__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}



.people__item {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);


    @include mobile {
            width: 100%;
        }
    
        @include tablet {
            width: calc((100% - 30px) / 2);
        }
    
        @include desktop {
            width: calc((100% - 90px) / 4);
        }

}

.people__foto{
    width: 100%;
    
}


.people__description {
    background-color: var(--primary-white-color);
    padding: 30px 0;
    border-radius: 0px 0px 4px 4px;
}

.foto__name {
    color: var(--title-text-color);
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

 
}

.foto__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

.foto__social,
.footer__social {
    display: inline-flex;
    gap: 10px;
    align-items: baseline;
}